@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


* {
    margin: 0 auto;
    padding: -10px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: #E4E4E4; 
    color: rgb(37, 37, 39);
}

#menu-h ul li:last-child a {
    float: right;
    color:  #E4E4E4;
    background-color: rgb(37, 37, 39);
}

.nome-site {
    margin: 0px;
    bottom: 0px;
    height: 300px;
    width: 100%;
    background-image: url('img-topo.jpg');
    background-size: 100%; 
    background-position: center;
    background-repeat: no-repeat;
}

.nome-site h1{
    position: absolute;    
    top: 130px;
    left: 200px;
    font-size: 100px;
    color:  rgb(37, 37, 39);    
}

.nome-site h2{
    position: absolute;    
    top: 230px;
    left: 350px;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    color:  rgb(37, 37, 39);    
}

.rodape {
    margin: 0px;
    bottom: 0px;
    height: 300px;
    width: 100%;
    background-color: #E4E4E4;
    font-size: 50px;
    color:  rgb(37, 37, 39);
    text-indent: 150px;   
}

.footer {
    position:relative;
    margin: 0px;
    bottom: 0px;;
    height: 25px;
    width:100%;
    background-color: rgb(37, 37, 39);
    color: #FFF;
    text-align: center
}